{% extends 'blog\base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">
            About Page
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, voluptate atque eius, nesciunt ipsam odio tempora id harum sint eum quae. Earum doloremque, labore officiis eum at ea architecto hic!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis asperiores nostrum nihil rem numquam omnis assumenda saepe temporibus ex earum, architecto quo vel cupiditate laboriosam unde. Accusamus ullam recusandae ipsum odio perspiciatis consequatur pariatur vel velit officiis, eveniet nobis earum facere assumenda minus itaque eius ipsa tempora dignissimos et repudiandae?</p>
    </div>
{% endblock content %}